<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Isu doktor kontrak: Hartal Doktor Kontrak mahu jadi wakil dalam Jawatankuasa Peringkat Tertinggi</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="/assets/images/doktor.jpg">
        <p><strong>KUALA LUMPUR:</strong> Hartal Doktor Kontrak mendesak Kementerian Kesihatan (KKM) memasukkan sekretariat itu sebagai sebahagian daripada ahli dalam Jawatankuasa Peringkat Tertinggi bagi mewakili golongan berkenaan.<br><br>
          Sekretariat itu percaya usaha kerajaan bagi menangani masalah doktor kontrak tidak akan memberi sebarang impak atau membawa kepada penyelesaian sekiranya tiada wakil kumpulan itu dalam jawatankuasa berkenaan.</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>3 terbunuh dalam kejadian tembakan di selatan Perancis</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="/assets/images/gunshot.jpg">
        <p><strong>PARIS:</strong> Sekurang-kurangnya tiga terbunuh dan beberapa lagi cedera dalam tiga insiden tembakan di selatan Perancis pada malam Ahad, lapor Xinhua memetik saluran berita BFMTV.<br><br>
          Tiga kejadian tembakan itu berlaku di bandar Marseille dengan insiden pertama berlaku di kawasan kejiranan Le Castellas menyebabkan dua terbunuh, diikuti kejadian kedua di kejiranan Les Aygalades dan ketiga di daerah kedua bandar yang menyebabkan seorang terbunuh.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
